.dataContainer{
	margin-left: 1em;
}
.dataContainer h1{
	border-bottom: 1px solid gray;
	color: gray;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	letter-spacing: 2px;
	margin-left:0.5em;
	margin-bottom: 0;
	text-transform: uppercase;
}
.dataContainer .nodoContainer{
	display: inline-block;
	width: 30%;
}
.dataContainer .nodoContainer .nodoShow{
	background-color:  #10a0ba;
	border: 1px solid  #017f96;
	border-radius: 6px;
	box-shadow: 2px 2px #017f96;
	color: white;
	font-family: 'Oswald', sans-serif;
	height: 25%;
	margin: 1em;
	width: 35%;
	transition: all 0.5 ease;
}
.desaparecer{
	animation: move 1s;
}

@keyframes move {
  0% {
    transform: rotate(5deg);    
  }
  10%{
  	transform: rotate(-5deg);
  }
  20%{
  	transform: rotate(5deg);
  }
  30%{
  	transform: rotate(-5deg);
  }
  40%{
  	transform: rotate(4deg);
  }
  50%{
  	transform: rotate(-4deg);
  }
  60%{
	transform: rotate(3deg);
  }
  70%{
  	transform: rotate(-3deg);
  }
  80%{
  	transform: rotate(2deg);
  }
  90%{
  	transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dataContainer .nodoContainer .nodoShow h3{
	border-bottom: 1px solid  #017f96;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: lighter;
	margin: 0px;
	padding: 5px;
	text-transform: uppercase;
}
.dataContainer .nodoContainer .nodoShow p{
	padding-left: 5px;
}
.dataContainer .nodoContainer .nodoMenu{
	border-left: 3px solid  #10a0ba;
	margin: 2em 1em;
	padding-left: 1em;
}
.dataContainer .nodoContainer .nodoMenu  p{
	font-family: 'Oswald', sans-serif;
}
.dataContainer .nodoContainer .nodoMenu  p input{
	color: gray;
	padding-left: 5px;
	width: 50%;
}
.dataContainer .nodoContainer .nodoMenu button{
	padding: 0.2em 0.5em;
	margin: 0.5em;
}
.dataContainer .nodoContainer .nodoMenu #btnNodo{
	background-color:  #37a529;
	border: 1px solid #2a891e;
	border-radius: 6px;
	box-shadow: 2px 2px #2a891e;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

.dataContainer .nodoContainer .nodoMenu #btnPush{
	background-color:  #ffbe28;
	border: 1px solid #d69f20;
	border-radius: 6px;
	box-shadow: 2px 2px #d69f20;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

.dataContainer .nodoContainer .nodoMenu #AF{
	background-color:  #ffbe28;
	border: 1px solid #d69f20;
	border-radius: 6px;
	box-shadow: 2px 2px #d69f20;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}.dataContainer .nodoContainer .nodoMenu #AP{
	background-color:  #ffbe28;
	border: 1px solid #d69f20;
	border-radius: 6px;
	box-shadow: 2px 2px #d69f20;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

.dataContainer .nodoContainer .nodoMenu #AF{
	background-color:  #ffbe28;
	border: 1px solid #d69f20;
	border-radius: 6px;
	box-shadow: 2px 2px #d69f20;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

.dataContainer .nodoContainer .nodoMenu #btnPop{
	background-color:  #e80404;
	border: 1px solid #af0000;
	border-radius: 6px;
	box-shadow: 2px 2px #af0000;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}

.dataContainer .nodoContainer .nodoMenu #DelF{
	background-color:  #e80404;
	border: 1px solid #af0000;
	border-radius: 6px;
	box-shadow: 2px 2px #af0000;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}
.dataContainer .nodoContainer .nodoMenu #DelP{
	background-color:  #e80404;
	border: 1px solid #af0000;
	border-radius: 6px;
	box-shadow: 2px 2px #af0000;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}
.dataContainer .nodoContainer .nodoMenu #DelVn{
	background-color:  #e80404;
	border: 1px solid #af0000;
	border-radius: 6px;
	box-shadow: 2px 2px #af0000;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}
/*---------STACK-------------*/
.dataContainer .stackContainer{
	border-left: 1px solid gray;
	display: inline-block;
	padding-top: 1em;
	vertical-align: top;
	width: 60%;
}
.dataContainer .stackContainer #stackDiv{
	min-height: 600px;
	width: 100%;
}
.dataContainer .stackContainer #stackDiv .nodoStack{
	background-color:  #10a0ba;
	border: 1px solid  #017f96;
	border-right: 1em solid #017f96;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: inline-block;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	margin: 0;
	margin-left: 25px;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	width: 15%;
    transition:1s linear all;
}
.dataContainer .stackContainer #stackDiv .nodoStack .content{
	margin-bottom: 8px;
}
.dataContainer .stackContainer #stackDiv .nodoStack .arrow{
	position: absolute;
    background-color: #017f96;
    color: #017f96;
    margin-left: 100%;
    margin-top: -35%;
    font-size: 8px;
    width: 50px;
}
.dataContainer .stackContainer #stackDiv .nodoStack h4{
	font-family: 'Oswald', sans-serif;
	font-size: 0.7em;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
}
.link{
	border-radius: 50%;
	background: white;
	height: auto;
	padding-top: 10%;
	position: absolute;
	width: 10%;
}
.pop{
	opacity: 0;
}
.izquierda{
	animation: popear 1s;
}
@keyframes popear {
  0% {
    transform:  translateX(0);    
  }
  100% {
    transform: translateX(0px);    
  }
}
.fuera{
	animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.acepta{
	animation: upDown 1s;
}
@keyframes upDown {
      0% {
    	transform:  translateY(0px);    
	  }
	  25%{
	  	transform:  translateY(-50px); 
	  }
	  50%{
	  	transform:  translateY(0px);
	  }
	  75%{
	  	transform:  translateY(-50px); 
	  }
	  100% {
    	transform: translateX(0px);    
  	}
}

article img{
	max-height: 200px;
	max-width: 200px;
}
.imageContainer{
	text-align: center;
}
.big{
	height: 100%;
	width:100%;
}